In [1]:
# Main function for the training testing of models

In [2]:
from classifier_functions import *

In [3]:
DATA_LOC = "../dataset/Original/data_injection_and_normal_events_dataset.csv"

In [4]:
df = read_dataset(DATA_LOC)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df = dataset_preprocess(df)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df = shuffle_data(df)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
13524,-63.523831,132386.8656,176.482460,131734.9606,56.487909,132437.0121,-62.165921,264.04462,178.184145,263.86151,...,0,0,0,0,0,0,0,0,0,0
29532,9.866333,131684.8140,-110.099570,131634.6675,129.889532,131734.9606,7.534395,384.89722,-112.574748,383.79856,...,0,0,0,0,0,0,0,0,0,0
2180,-129.849425,134392.7272,110.162595,134342.5807,-9.820497,134442.8737,-131.826130,524.42704,114.557182,483.22729,...,0,0,0,0,0,0,0,0,0,1
21474,95.976160,131734.9606,-24.001202,131108.1288,-144.001483,131785.1071,93.535360,384.34789,-26.407625,384.53100,...,0,0,0,0,0,0,0,0,0,0
19268,53.250697,131860.3269,-66.726665,131208.4219,173.279626,131910.4735,51.245345,366.76933,-68.703369,367.13555,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train, label = data_label_split(df)

In [ ]:
k_fold_train(train, label, 10, "Random Forest")

In [ ]:
k_fold_train(train, label, 10, "SVM")

In [ ]:
k_fold_train(train, label, 10, "Logistic Regression")

In [ ]:
k_fold_train(train, label, 10, "Naive Bayes")

In [ ]:
k_fold_train(train, label, 10, "KNN")

In [ ]:
k_fold_train(train, label, 10, "Decision Tree")

In [ ]:
k_fold_train(train, label, 10, "AdaBoost")

In [ ]:
k_fold_train(train, label, 10, "Gradient Boosting")

In [ ]:
k_fold_train(train, label, 10, "Bagging")

In [ ]:
'''
#Uncomment this block to have MinMaxScaling

df = scaling(df, "MinMax")

'''

In [ ]:
train_df, test_df = training_testing_split(df, testing_split=0.3)

In [ ]:
train_df.head()

In [ ]:
test_df.head()

In [ ]:
train_df, label_train_df = data_label_split(train_df)

In [ ]:
train_df.head()

In [ ]:
label_train_df.head()

In [ ]:
test_df, label_test_df = data_label_split(test_df)

In [ ]:
test_df.head()

In [ ]:
label_test_df.head()

In [ ]:
rf = training(train_df, label_train_df, classifier="Random Forest")
testing(test_df, label_test_df, rf)

In [ ]:
svm = training(train_df, label_train_df, classifier="SVM")
testing(test_df, label_test_df, svm)

In [ ]:
lr = training(train_df, label_train_df, classifier="Logistic Regression")
testing(test_df, label_test_df, lr)

In [ ]:
nb = training(train_df, label_train_df, classifier="Naive Bayes")
testing(test_df, label_test_df, nb)

In [ ]:
knn = training(train_df, label_train_df, classifier="KNN")
testing(test_df, label_test_df, knn)

In [ ]:
dt = training(train_df, label_train_df, classifier="Decision Tree")
testing(test_df, label_test_df, dt)

In [ ]:
ada = training(train_df, label_train_df, classifier="AdaBoost")
testing(test_df, label_test_df, ada)

In [ ]:
gb = training(train_df, label_train_df, classifier="Gradient Boosting")
testing(test_df, label_test_df, gb)

In [ ]:
bag = training(train_df, label_train_df, classifier="Bagging")
testing(test_df, label_test_df, bag)

In [ ]:
# TODO: Feature selection classifiers (top 10, top 20, top 30, top 50)
# TODO: 10-fold cross validation