In [3]:
# Main function for the training testing of models

In [4]:
from classifier_functions import *

In [5]:
DATA_LOC = "../dataset/Original/data_injection_and_normal_events_dataset.csv"

In [6]:
df = read_dataset(DATA_LOC)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [7]:
df = dataset_preprocess(df)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [8]:
'''
#Uncomment this block to have MinMaxScaling

df = scaling(df, "MinMax")

'''

'\n#Uncomment this block to have MinMaxScaling\n\ndf = scaling(df, "MinMax")\n\n'

In [9]:
train_df, test_df = training_testing_split(df, testing_split=0.3)

In [10]:
train_df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
17848,-63.500912,130932.6159,176.511108,130305.7842,56.533746,131007.8358,-68.434079,495.49566,171.646696,495.67877,...,0,0,0,0,0,0,0,0,0,0
6146,-114.305080,131835.2537,125.724129,131785.1071,5.718119,131885.4002,-113.336782,344.42991,124.440704,351.57120,...,0,0,0,0,0,0,0,0,0,1
31187,-49.039458,132386.8656,-169.039738,131734.9606,70.972282,132437.0121,-47.864894,264.77706,-167.974037,265.50950,...,0,0,0,0,0,0,0,0,0,0
2206,-97.236667,130681.8832,142.792542,130656.8100,22.786532,130732.0298,-102.020865,512.89111,137.584355,517.28575,...,0,0,0,0,0,0,0,0,0,1
21237,-171.744099,134016.6282,68.262192,133364.7231,-51.732359,134066.7747,-174.081767,292.24356,65.322918,294.44088,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test_df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
30055,25.886233,131333.7883,-94.102588,130706.9565,145.915162,131409.0081,22.500053,441.47821,-97.127805,440.74577,...,0,0,0,0,0,0,0,0,0,0
17133,-52.333965,131133.2021,-172.305598,131108.1288,67.694963,131208.4219,-55.009678,451.54926,-176.218900,458.87366,...,0,0,0,0,0,0,0,0,0,0
12719,-112.351294,132537.3052,127.672186,132487.1587,7.666175,132587.4518,-111.394455,268.62237,128.462867,267.34060,...,0,0,0,0,0,0,0,0,0,0
3470,160.995411,136749.6146,41.012319,136724.5413,-78.976502,136824.8344,0.000000,0.00000,0.000000,0.00000,...,0,1,1,0,0,0,0,0,0,1
30916,52.861086,131459.1546,-67.116276,131434.0813,172.884285,131534.3744,49.784303,414.56104,-70.450890,415.65970,...,0,0,0,0,0,0,0,0,0,0

In [12]:
train_df, label_train_df = data_label_split(train_df)

In [13]:
train_df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
17848,-63.500912,130932.6159,176.511108,130305.7842,56.533746,131007.8358,-68.434079,495.49566,171.646696,495.67877,...,0,0,0,0,0,0,0,0,0,0
6146,-114.305080,131835.2537,125.724129,131785.1071,5.718119,131885.4002,-113.336782,344.42991,124.440704,351.57120,...,0,0,0,0,0,0,0,0,0,0
31187,-49.039458,132386.8656,-169.039738,131734.9606,70.972282,132437.0121,-47.864894,264.77706,-167.974037,265.50950,...,0,0,0,0,0,0,0,0,0,0
2206,-97.236667,130681.8832,142.792542,130656.8100,22.786532,130732.0298,-102.020865,512.89111,137.584355,517.28575,...,0,0,0,0,0,0,0,0,0,0
21237,-171.744099,134016.6282,68.262192,133364.7231,-51.732359,134066.7747,-174.081767,292.24356,65.322918,294.44088,...,0,0,0,0,0,0,0,0,0,0

In [14]:
label_train_df.head()

17848    0
6146     1
31187    0
2206     1
21237    0
Name: marker, dtype: int64

In [15]:
test_df, label_test_df = data_label_split(test_df)

In [16]:
test_df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
30055,25.886233,131333.7883,-94.102588,130706.9565,145.915162,131409.0081,22.500053,441.47821,-97.127805,440.74577,...,0,0,0,0,0,0,0,0,0,0
17133,-52.333965,131133.2021,-172.305598,131108.1288,67.694963,131208.4219,-55.009678,451.54926,-176.218900,458.87366,...,0,0,0,0,0,0,0,0,0,0
12719,-112.351294,132537.3052,127.672186,132487.1587,7.666175,132587.4518,-111.394455,268.62237,128.462867,267.34060,...,0,0,0,0,0,0,0,0,0,0
3470,160.995411,136749.6146,41.012319,136724.5413,-78.976502,136824.8344,0.000000,0.00000,0.000000,0.00000,...,0,0,1,1,0,0,0,0,0,0
30916,52.861086,131459.1546,-67.116276,131434.0813,172.884285,131534.3744,49.784303,414.56104,-70.450890,415.65970,...,0,0,0,0,0,0,0,0,0,0

In [17]:
label_test_df.head()

30055    0
17133    0
12719    0
3470     1
30916    0
Name: marker, dtype: int64

In [18]:
rf = training(train_df, label_train_df, classifier="Random Forest")
testing(test_df, label_test_df, rf)

Training time = 38.1s
Testing time = 0.58s
              precision    recall  f1-score   support

           0       0.91      0.98      0.94      6791
           1       0.93      0.77      0.84      2898

    accuracy                           0.91      9689
   macro avg       0.92      0.87      0.89      9689
weighted avg       0.91      0.91      0.91      9689

In [19]:
svm = training(train_df, label_train_df, classifier="SVM")
testing(test_df, label_test_df, svm)

Training time = 581.51s
Testing time = 16.6s
              precision    recall  f1-score   support

           0       0.70      0.99      0.82      6791
           1       0.45      0.02      0.03      2898

    accuracy                           0.70      9689
   macro avg       0.58      0.50      0.43      9689
weighted avg       0.63      0.70      0.59      9689

In [20]:
lr = training(train_df, label_train_df, classifier="Logistic Regression")
testing(test_df, label_test_df, lr)

Training time = 1.42s
Testing time = 0.01s
              precision    recall  f1-score   support

           0       0.70      0.99      0.82      6791
           1       0.41      0.01      0.02      2898

    accuracy                           0.70      9689
   macro avg       0.56      0.50      0.42      9689
weighted avg       0.62      0.70      0.58      9689

C:\Users\brenn\PycharmProjects\False-Data-Injection-Detection-for-Smart-Grid-Systems\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
nb = training(train_df, label_train_df, classifier="Naive Bayes")
testing(test_df, label_test_df, nb)

Training time = 0.17s
Testing time = 0.12s
              precision    recall  f1-score   support

           0       0.70      0.97      0.82      6791
           1       0.33      0.03      0.06      2898

    accuracy                           0.69      9689
   macro avg       0.52      0.50      0.44      9689
weighted avg       0.59      0.69      0.59      9689

In [22]:
knn = training(train_df, label_train_df, classifier="KNN")
testing(test_df, label_test_df, knn)

Training time = 0.05s
Testing time = 25.96s
              precision    recall  f1-score   support

           0       0.83      0.90      0.86      6791
           1       0.71      0.56      0.63      2898

    accuracy                           0.80      9689
   macro avg       0.77      0.73      0.74      9689
weighted avg       0.79      0.80      0.79      9689

In [23]:
dt = training(train_df, label_train_df, classifier="Decision Tree")
testing(test_df, label_test_df, dt)

Training time = 1.02s
Testing time = 0.06s
              precision    recall  f1-score   support

           0       0.71      0.99      0.83      6791
           1       0.71      0.04      0.08      2898

    accuracy                           0.71      9689
   macro avg       0.71      0.52      0.45      9689
weighted avg       0.71      0.71      0.60      9689

In [24]:
ada = training(train_df, label_train_df, classifier="AdaBoost")
testing(test_df, label_test_df, ada)

Training time = 20.87s
Testing time = 0.4s
              precision    recall  f1-score   support

           0       0.71      0.97      0.82      6791
           1       0.54      0.09      0.16      2898

    accuracy                           0.71      9689
   macro avg       0.63      0.53      0.49      9689
weighted avg       0.66      0.71      0.62      9689

In [25]:
gb = training(train_df, label_train_df, classifier="Gradient Boosting")
testing(test_df, label_test_df, gb)

Training time = 85.35s
Testing time = 0.07s
              precision    recall  f1-score   support

           0       0.72      0.99      0.84      6791
           1       0.84      0.11      0.20      2898

    accuracy                           0.73      9689
   macro avg       0.78      0.55      0.52      9689
weighted avg       0.76      0.73      0.64      9689

In [26]:
bag = training(train_df, label_train_df, classifier="Bagging")
testing(test_df, label_test_df, bag)

Training time = 687.35s
Testing time = 237.61s
              precision    recall  f1-score   support

           0       0.70      1.00      0.82      6791
           1       0.60      0.02      0.03      2898

    accuracy                           0.70      9689
   macro avg       0.65      0.51      0.43      9689
weighted avg       0.67      0.70      0.59      9689