In [71]:
import pandas as pd
import numpy as np
import os

In [72]:
data_path = "../binaryAllNaturalPlusNormalVsAttacks/"
appended_data = []

# Create Dataframe from the 14 .csv files
for file in os.listdir(data_path):
    temp_df = pd.read_csv(data_path + file)
    appended_data.append(temp_df)

df = pd.concat(appended_data)

In [73]:
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,70.399324,127673.0908,-49.572308,127648.0176,-169.578319,127723.2374,65.689611,605.91099,-57.003571,626.78553,...,0,0,0,0,0,0,0,0,0,Natural
1,73.688102,130280.7109,-46.300719,130255.6377,-166.278082,130355.9307,71.831719,483.59351,-50.947407,500.98896,...,0,0,0,0,0,0,0,0,0,Natural
2,73.733939,130305.7842,-46.254883,130280.7109,-166.232245,130381.0040,71.808800,483.59351,-50.913030,500.98896,...,0,0,0,0,0,0,0,0,0,Natural
3,74.083443,130581.5902,-45.899649,130556.5169,-165.882741,130656.8100,72.152575,482.86107,-50.437475,499.15786,...,0,0,0,0,0,0,0,0,0,Natural
4,74.553268,131083.0556,-45.424094,131057.9823,-165.424375,131158.2754,72.118198,484.50906,-50.013486,497.69298,...,0,0,0,0,0,0,0,0,0,Natural

In [74]:
df.shape

(78377, 129)

In [75]:
# Remove duplicates
df.drop_duplicates()
# No actual duplicates just a check
df.shape

(78377, 129)

In [76]:
# Count unique markers
df['marker'].nunique()
# Only two markers Attack & Natural

2