In [1]:
# Simple script to format the dataset in a pandas dataframe for easy visualization
# SKlearn is compatible with pandas so can be simple to use
# Pandas also provides additional tools for splicing or utilizing data that lists do not

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier

In [3]:
# Read the original dataset
data_path = "../dataset/Original/data_injection_and_normal_events_dataset.csv"
df = pd.read_csv(data_path)

In [4]:
# Print out the dataframe in viewable format
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df.shape # (Number of sample, Number of features)

(32296, 129)

In [6]:
# inf values in dataset cause issue with sklearn
# Replace with zero
df.replace([np.inf, -np.inf], 0, inplace=True)
df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#MinMax Scaling
scaler = MinMaxScaler()
col = df.columns
results = scaler.fit_transform(df)
df_scaled = pd.DataFrame(results, columns=col)
df = df_scaled
df.head()

In [ ]:
# Split into attack and natural to check size
df_attack =  df[df.marker == 1]

df_natural = df[df.marker == 0]

AttributeError: 'numpy.ndarray' object has no attribute 'marker'

In [ ]:
df_attack.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
0,90.578898,130456.2238,-29.415653,129804.3188,-149.410204,130506.3704,88.986075,471.50825,-33.644082,486.15705,...,0,0,0,0,0,0,0,0,0,1
1,90.573168,130506.3704,-29.421383,129854.4653,-149.410204,130556.5169,88.951698,471.50825,-33.644082,485.79083,...,0,0,0,0,0,0,0,0,0,1
2,90.504413,130807.2496,-29.472949,130180.4178,-149.467500,130857.3961,88.367281,473.70557,-33.781592,484.69217,...,0,0,0,0,0,0,0,0,0,1
3,90.429929,130932.6159,-29.553163,130330.8575,-149.536255,131007.8358,87.782864,476.26911,-33.970668,485.05839,...,0,0,0,0,0,0,0,0,0,1
4,90.378363,130982.7625,-29.610459,130355.9307,-149.599280,131057.9823,87.433360,477.73399,-34.068071,485.24150,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df_attack.shape

(9582, 129)

In [ ]:
df_natural.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
9582,-139.612626,131885.4002,100.410854,131835.2537,-19.572238,131960.6200,-137.767702,430.49161,96.153777,462.71897,...,0,0,0,0,0,0,0,0,0,0
9583,-140.174125,131383.9348,99.855085,131358.8615,-20.133737,131459.1546,-138.655786,433.23826,95.506335,464.18385,...,0,0,0,0,0,0,0,0,0,0
9584,-140.603843,131057.9823,99.419637,131007.8358,-20.574914,131133.2021,-139.194367,435.06936,95.185479,465.28251,...,0,0,0,0,0,0,0,0,0,0
9585,-140.684057,130982.7625,99.322234,130932.6159,-20.660858,131057.9823,-139.383443,436.16802,95.145371,465.64873,...,0,0,0,0,0,0,0,0,0,0
9586,-141.990401,130130.2713,98.033079,130105.1980,-21.961472,130205.4911,-141.320040,442.21065,94.131236,466.74739,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_natural.shape

(22714, 129)

In [ ]:
# Split original dataset into training/testing
train_df, test_df = train_test_split(df, test_size=0.3) # 70/30 split

In [ ]:
train_df.shape

(22607, 129)

In [ ]:
test_df.shape

(9689, 129)

In [ ]:
# Check for types in dataframe to be compatible with SKlearn
for column in train_df:
    if df[column].dtype != 'int64' and df[column].dtype != 'float64':
        print(column)

In [ ]:
# Break off the last column to act as the label for ML models
# There is probably a built in pandas function to do this more elegantly

label_train_df = train_df['marker']
train_df.drop('marker', axis=1, inplace=True)

In [ ]:
train_df.head()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
9907,-12.868632,129929.6851,-132.845994,129904.6119,107.154567,130004.9050,-14.243731,474.43801,-135.418575,482.86107,...,0,0,0,0,0,0,0,0,0,0
7248,57.530692,131885.4002,-62.463859,131258.5685,177.565350,131960.6200,64.010845,289.13069,-61.896631,313.30121,...,0,0,0,0,0,0,0,0,0,0
24441,-123.598456,134192.1410,116.413565,133540.2360,-3.580986,134267.3609,-129.528569,412.91305,110.523559,412.72994,...,0,0,0,0,0,0,0,0,0,0
2565,39.218961,133565.3093,-80.769860,132938.4775,159.247890,133640.5291,36.720865,267.34060,-79.022339,256.17089,...,0,0,0,0,0,0,0,0,0,0
27957,-168.982443,131810.1804,71.052496,131785.1071,-48.959244,131885.4002,-170.575265,357.79694,69.184654,357.24761,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
label_train_df.shape

(22607,)

In [ ]:
test_labels = test_df['marker']
test_df.drop('marker', axis=1, inplace=True)

In [ ]:
rf_classifier = RandomForestClassifier()
rf_classifier.fit(train_df, label_train_df)

model_prediction = rf_classifier.predict(test_df)

print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94      6815
           1       0.94      0.77      0.85      2874

    accuracy                           0.92      9689
   macro avg       0.93      0.87      0.90      9689
weighted avg       0.92      0.92      0.92      9689

In [ ]:
# Train SVM classifier
svm_classifier = SVC(kernel='linear')

svm_classifier.fit(train_df, label_train_df)

model_prediction = svm_classifier.predict(test_df)

print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.71      0.99      0.82      6815
           1       0.50      0.02      0.04      2874

    accuracy                           0.70      9689
   macro avg       0.60      0.51      0.43      9689
weighted avg       0.64      0.70      0.59      9689

In [ ]:
#TODO: Convert to float64 to int64 for this classifier
lr_classifier = LogisticRegression()
lr_classifier.fit(train_df, label_train_df)

model_prediction = lr_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.70      1.00      0.83      6815
           1       0.52      0.01      0.02      2874

    accuracy                           0.70      9689
   macro avg       0.61      0.50      0.42      9689
weighted avg       0.65      0.70      0.59      9689

C:\Users\B\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
nb_classifier = GaussianNB()
nb_classifier.fit(train_df, label_train_df)

model_prediction = nb_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.70      0.98      0.82      6815
           1       0.33      0.03      0.05      2874

    accuracy                           0.69      9689
   macro avg       0.52      0.50      0.43      9689
weighted avg       0.59      0.69      0.59      9689

In [ ]:
knn_classifier = KNeighborsClassifier(n_neighbors=7)
knn_classifier.fit(train_df, label_train_df)

model_prediction = knn_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      6815
           1       0.71      0.56      0.63      2874

    accuracy                           0.80      9689
   macro avg       0.77      0.73      0.75      9689
weighted avg       0.79      0.80      0.79      9689

In [ ]:
dt_classifier = DecisionTreeClassifier(max_depth=3)
dt_classifier.fit(train_df, label_train_df)

model_prediction = dt_classifier.predict(test_df)

print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.71      0.99      0.83      6815
           1       0.71      0.04      0.07      2874

    accuracy                           0.71      9689
   macro avg       0.71      0.52      0.45      9689
weighted avg       0.71      0.71      0.60      9689

In [ ]:
ada_classifier = AdaBoostClassifier()
ada_classifier.fit(train_df, label_train_df)

model_prediction = ada_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.72      0.96      0.82      6815
           1       0.52      0.10      0.16      2874

    accuracy                           0.71      9689
   macro avg       0.62      0.53      0.49      9689
weighted avg       0.66      0.71      0.63      9689

In [ ]:
gb_classifier = GradientBoostingClassifier()
gb_classifier.fit(train_df, label_train_df)

model_prediction = gb_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.73      0.99      0.84      6815
           1       0.83      0.11      0.20      2874

    accuracy                           0.73      9689
   macro avg       0.78      0.55      0.52      9689
weighted avg       0.76      0.73      0.65      9689

In [ ]:
b_svc_classifier = BaggingClassifier(base_estimator=SVC(),
                                     n_estimators=10)
b_svc_classifier.fit(train_df, label_train_df)

model_prediction = b_svc_classifier.predict(test_df)
print(classification_report(test_labels, model_prediction))

              precision    recall  f1-score   support

           0       0.70      1.00      0.83      6815
           1       0.46      0.01      0.01      2874

    accuracy                           0.70      9689
   macro avg       0.58      0.50      0.42      9689
weighted avg       0.63      0.70      0.58      9689